<form [formGroup]="form">
    <p-autoComplete formControlName="nivelEducacional" [suggestions]="nivelesEducacionalesFiltrados"
        (completeMethod)="filtrarNivelEducacional($event)" field="nombre" [dropdown]="true" styleClass="w-full">
        <ng-template let-nivelEducacional pTemplate="item">
            <div class="nivelEducacional-item">
                <div>{{nivelEducacional.nombre}}</div>
            </div>
        </ng-template>
    </p-autoComplete>
</form>
<span d-error-msg mensaje="Debe seleccionar un Nivel Educacional" *ngIf="campoNoEsValido('nivelEducacional')"></span>
